<div class="Layout">
    <div class="Layout__left-sidebar">
        <div class="sidebar-menu">
            <div class="sidebar-menu__item sidebar-menu__item--active">
            <img src="./assets/svg/home.svg" class="sidebar-menu__item-icon" />
            <a href="/index">Home</a>
            </div>
            <div class="sidebar-menu__item">
            <img src="./assets/svg/explore.svg" class="sidebar-menu__item-icon" />
            Explore
            </div>

            <div class="sidebar-menu__item">
            <img src="./assets/svg/notifications.svg" class="sidebar-menu__item-icon" />
            Notifications
            </div>

            <div class="sidebar-menu__item">
            <img src="./assets/svg/messages.svg" class="sidebar-menu__item-icon" />
            <a href="/messages">Messages</a>
            </div>

            <div class="sidebar-menu__item">
            <img src="./assets/svg/profile.svg" class="sidebar-menu__item-icon" />
            <a href="/profile">Profile</a>
            </div>

            <div class="sidebar-menu__item">
            <img src="./assets/svg/more.svg" class="sidebar-menu__item-icon" />
            More
            </div>
        </div>
    </div>

    <div class="Layout__main">