.Layout{
    display: grid;
    grid-template-columns: 275px auto 350px;
    margin: 0 auto;
}

.right-sidebar {
    position: fixed;
}

.logo-img {
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    width: 50px;
    height: auto;
}