</div>
    <div class="Layout__right-sidebar">
        <div class="layout__right-sidebar-container">
            <div class="layout__right-sidebar">
                <div class="trends-for-you">
                    <div class="trends-for-you__block">
                        <div class="trends-for-you__heading">
                            Trends for you
                        </div>
                    </div>    
                        <div class="trends-for-you__block">
                            <div class="trends-for-you__meta-information">
                                Trending in Denmark
                            </div>
                            <div class="trends-for-you__trend-name">
                                #HugePike
                            </div>
                            <div class="trends-for-you__meta-information">
                                155k Splashes
                            </div>
                            </div>
                            <div class="trends-for-you__block">
                            <div class="trends-for-you__meta-information">
                                Trending in Sweden
                            </div>
                            <div class="trends-for-you__trend-name">
                                #Carpfishing
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
